:root {
/*fonts */
--main-font: 'Roboto', sans-serif;
/* colors */
--color-iris: #4D5AE5;
--color-okean: #404BBF;
--color-navy-blue: #2E2F42;
--color-green: #31D0AA;
--color-slate: #434455;
--color-lignt-slate: #8E8F99;
--color-cornflower: #E7E9FC;
--color-cloud: #F4F4FD;
--color-navy-blue-modal: #2E2F42;
--color-grey: #2E2F42;
--color-white: #ffffff;
--color-dairy: #FCFCFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto; 
}



.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
}

/*================body=================*/

body {
    font-family: "Roboto", sans-serif;
    color: var(--color-slate);
    background-color: var(--color-white);
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

li {
    list-style-type: none;
}

.button {
    font-family: "Roboto", sans-serif;
    border: none;
    background-color: var(--color-iris);
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    cursor: pointer;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    display: block;
    min-width: 169px;
    height: 56px;
    border-radius: 4px;
    margin: 0px auto;
}

.button:hover,:focus {
    background-color: var(--color-okean);
}

/* ================header================ */


.header {
    border-bottom: 1px solid var(--color-cornflower);
}

.header-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: flex;
    align-items: center;
}

.flex-header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header-nav-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    font-family: "Raleway" ,sans-serif;
    margin-right: 76px;
}


.header-nav-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-navy-blue);
}

.header-address {
    font-style: normal;   
}

.header-nav-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    display: flex;
    gap: 40px;
    cursor: pointer;
}
.nav-list-contact:hover, :focus {
    color: var(--color-okean);
}

.nav-list-contact-a {
    display: block;
    padding: 24px 0;
}

.header-social-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-social-list-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.header-social-list-item:hover, :focus {
    color: var(--color-okean);
}
    
/* //=================section1===============// */


.business {
    
}

.business {
    background-color: var(--color-navy-blue);
    padding: 188px 0;
}

.business-text {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--color-white);
    max-width: 496px;
    margin: 0px auto 48px auto;
}

/* //=================section2===============// */


.paragraph {
    padding: 120px 0;
}

.element-one {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    display: flex;
    gap: 24px;
}

.paragraph-li {
    flex-basis: calc((100% - 3 * 24px) / 4);
}

/* .paragraph-li:first-child {
    flex-basis: calc((100% - 3 * 24px) / 4);
} */

.paragraph-s {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
    padding: 0;
}

.paragraph-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    padding: 0;
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.element-1 {
    display: flex;
    gap: 24px;

}
/* //=================section3===============// */


.team-our {
    background-color: var(--color-cloud);
    padding: 120px 0;
}

.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--color-navy-blue);
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
}

.team-li {
    background-color: var(--color-white);
    list-style: none;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
}

.team-hero-pothetion {
    padding: 32px 0;
    margin: 0;
}
.team-hero {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    text-align: center;
    margin-bottom: 8px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-slate);
    text-align: center;
    }

.team-photo {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 0;
}

/* //=================section4===============// */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-portfolio {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--color-navy-blue);
    margin-bottom: 72px;
    
}

.our-portfolio-b {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
    margin-bottom: 8px;
}

.text-portfolio {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}

.service-photo {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    padding-left: 0;
    row-gap: 48px;
}

.name-s {
    padding: 32px 16px;
    border: 1px solid var(--color-cornflower);
    border-top: none;
}

.li-name {
    width: calc((100% - 48px) / 3);
}

/* //===============footer===============// */

.footer {
    background-color: var(--color-navy-blue);
    font-family: "Raleway",sans-serif;
    padding: 100px 0;
}

.footer-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
    margin-bottom: 16px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-cloud);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-cloud);
    letter-spacing: 0.02em;
    max-width: 270px;
}





